*{
	
}

.navbar-brand{
	font-family: 'Faster One', cursive !important;
	font-size: 2rem !important;
	color: #A30000 !important;
}

span{
	font-family: 'Faster One', cursive !important;
	font-size: 4rem !important;
	color: #880505 !important;
}